

.page {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	background-color: #212121;
	font-family: 'Roboto', sans-serif;
}

.header {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	flex-direction: row;
}

.imageContainer {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
}

.image {
	height: 30%;
	width: 70%;
	border-radius: 10px;
}

.text {
	color: gold;
}